.container {
  display: flex;
  justify-content: center;
}
.results {
  display: flex;
  width: 800px;
}
/* flex items */
.movie-item {
  text-align: center;
  flex: 0 1 100%;
  border: 1px solid black;
  margin: 10px;
}

.movie-poster {
  width: 150px;
  height: 190px;
}
